.titleBox {
  opacity: 0.8;
  background-size: cover;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0px;
  padding: 1px;
  width: 100%;
  display: inline;
}

#mountains {
  width: 100%;
  height: 40%;
  width: 150%;
  display: inline;
}

h1 {
  color: DarkCyan;
  font-family: "Lobster", serif;
  -webkit-text-stroke: white;
  font-size: 112px;
  text-align: center;
  margin: 0;
  z-index: 1;
}

body {
  color: rgb(200, 200, 200);
  font-family: Verdana;
  margin: 0px;
  background: #D8D6D6;
}

h2 {
  text-align: center;
  color: rgb(200, 200, 200);
}

h3 {
  color: #737171;
  margin-left: 12px;
  font-family: Arial;
  font-size: 22px;
  z-index: 0.5;

}
