.titleBox {
  opacity: 0.8;
  background-size: cover;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0px;
  padding: 1px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.topNav {
  position: absolute;
  top: 0;
  left: 0;
}

#mountains {
  height: 50%;
  width: 100%;
  display: inline;
  position: relative;
}

h1 {
  color: DarkCyan;
  font-family: "Lobster", serif;
  -webkit-text-stroke: white;
  font-size: 112px;
  text-align: center;
  margin: 0;
  position: absolute;
}

h2 {
  text-align: center;
  margin: 0;
  position: absolute;
  margin-top: 21%;
  color: burlywood;
  text-align: center;
  font-family: Verdana;
}

.headshot {
  float: right;
  padding: 30px;
  padding-right: 200px;
}

nav ul {
  width: 130px;
  list-style-type: none;
  background-color: rgba(43, 154, 154, 0.41);
  font-family: Verdana;
  font-size: 18px;
  float: left;
  z-index: 1;
  margin-top: 0;
  padding: 10px 0px 10px 0px;
  border-radius: 0% 0% 20% 0%;
  text-align: center;
}

nav li a {
  color: cornsilk;
  display: block;
  text-decoration: none;

}

nav li a:hover {
  background-color: rgba(10, 103, 103, 0.84);
  color: white;
}

body {
  color: rgb(200, 200, 200);
  font-family: Verdana;
  margin: 0px;
  background: #D8D6D6;
}

li {
  color: grey;
}

h3 {
  color: DarkCyan;
  margin-left: 12px;
  font-family: Arial;
  font-size: 22px;
}

footer {
  color: DarkCyan;
  margin: 30;
  text-align: center;
}
