.titleBox {
  background-image: url("http://images.summitpost.org/original/332063.jpg");
  background-size: cover;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 10px;
  padding: 1px;
}

h1 {
  color: DarkCyan;
  font-family: "Lobster", serif;
  -webkit-text-stroke: 0.0005px white;
  font-size: 112px;
  text-align: center;
}

body {
  color: rgb(200, 200, 200);
  font-family: Verdana;
}

h2 {
  text-align: center;
  color: rgb(200, 200, 200);
}

h3 {
  color: #948C8C;
  font-family: Arial;
  font-size: 22px;
}
